<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <meta name="viewport" content="width=device-width">
    <title>商品管理</title>
    <link href="/stylesheets/order.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName %></p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="c-right c-r-correct">
            <h1 class="c-r-h1">商品信息表</h1>
            <% correctOrder.forEach(function(correctOrder){%>
            <form id="orderForm" action="/update" method="post">
                <p class="c-r-from-p">
                    <input type="text" name="id" id="id" value="<%= correctOrder._id%>" class="correct_id">
                    <input type="text" name="personName" id="onName" value="<%= correctOrder.personName%>" class="correct_id">
                    商品名称：<input type="text" name="goodsName" id="goodsName" value="<%= correctOrder.goodsName %>"  readonly="true" class="only">&nbsp;
                    商品数量：<input type="text" name="num" id="num" value="<%= correctOrder.num %>" class="textRight">&nbsp;
                    商品单价：<input type="text" name="price" id="price" value="<%= correctOrder.price %>" class="textRight"><br/>
                </p>
                <p class="c-r-from-p">
                    修改时间：&nbsp;<input type="text" name="date" id="date" readonly="true" class="only">&nbsp;
                    联系方式：<input type="text" name="tel" id="tel" value="<%= correctOrder.tel %>">&nbsp;
                    Email:&nbsp;<input type="text" name="email" id="email" value="<%= correctOrder.email %>"><br>
                </p>
                <p class="c-r-from-p">
                    商品分类：
                    <select class="c-r-select" id="goodsCode" name="goodsCode">
                        <option><%= correctOrder.goodsCode %></option>
                        <option>书籍</option>
                        <option>女装</option>
                        <option>男装</option>
                        <option>鞋</option>
                        <option>配饰礼物</option>
                        <option>学习用品</option>
                        <option>生活用品</option>
                        <option>运动娱乐</option>
                    </select>&nbsp;
                    书籍分类：<select class="c-r-select " id="classes" name="classes">
                        <option><%= correctOrder.classes %></option>
                        <option>其他</option>
                        <option>公共课</option>
                        <option>计算机类</option>
                        <option>经管财会</option>
                        <option>历史地理</option>
                        <option>文学语言</option>
                        <option>电气机械</option>
                        <option>生物化工</option>
                        <option>教育心理</option>
                        <option>音乐美术</option>
                        <option>体育健康</option>
                        <option>杂志小说</option>
                    </select>
                    &nbsp;年&nbsp;级：
                    <select class="c-r-select" id="grade" name="grade">
                        <option><%= correctOrder.grade %></option>
                        <option>一年级</option>
                        <option>二年级</option>
                        <option>三年级</option>
                        <option>四年级</option>
                        <option>无</option>
                    </select><br>
                </p>

                <textarea class="c-r-txt" name="describe"><%= correctOrder.describe %></textarea>
                <p>
                    <span id="warning"><%= errMsg%></span>
                    <input type="button" value="返回" class="btn" onclick="correct_back()">
                    <input type="submit" value="确认修改" class="btn" onclick="correct()">
                </p>
            </form>
            <%})%>

        </div>
    </div>
</div>
<script src="/javascripts/order.js"></script>
<script src="/javascripts/correct_onlode.js"></script>
</body>
</html>