<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName%></p>
                <p><input type="button" value="发布商品" class="h-r-input" onclick="getOrder()"/>
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul" id="nav-inner-ul">
                <li onclick="rt_index()">首页</li>
                <li>书籍</li>
                <li>女装</li>
                <li>男装</li>
                <li>鞋</li>
                <li>配饰礼物</li>
                <li>学习用品</li>
                <li>生活用品</li>
                <li>运动娱乐</li>
            </ul>
        </div>
    </div>
    <div class="content"  style="background: #f8f8f8;min-height: 450px;">
        <div class="content-inner">
            <div class="c-goods">
                <div class="c-goods-img">
                    <% goods.forEach(function(goods){%>
                    <img src="/avatar/<%= goods.imagePath%>">
                    <%})%>
                </div>
                <div class="c-part1-right">
                    <img src="/images/paart1-1.jpg">
                    <img src="/images/paart1-7.jpg" class="fr">
                    <img src="/images/paart1-2.jpg">
                    <img src="/images/paart1-6.jpg" class="fr">
                    <img src="/images/paart1-5.jpg">
                    <img src="/images/paart1-4.jpg" class="fr">
                </div>
                <div class="c-part1-main">
                    <% goods.forEach(function(goods){%>
                    <form>
                        <p class="c-goods-username">&nbsp;<%= goods.personName%>&nbsp;<span class="c-goods-username-span">发布</span></p>
                        <p class="c-goods-price">￥<%= goods.price%><span class="c-goods-price-span">元</span></p>
                        <p class="c-goods-goodsName"><%= goods.goodsName%></p>
                        <div class="c-goods-describe">
                            <%= goods.describe%>
                        </div>
                        <p class="c-goods-contact">
                            联系ta：&nbsp;
                            <span><%= goods.tel %></span>&nbsp;
                            <span><%= goods.email%></span>&nbsp;
                            <span><%= goods.grade%></span>
                        </p>
                    </form>
                    <%})%>
            </div>
        </div>
    </div>
</div>
    </div>
<script src="/javascripts/public.js"></script>
<script>
    //分类查询
    function book_search(x){
        window.location = '/book_search' + x;
    }
    //返回首页
    function rt_index(){
        var personName = document.getElementById('personName').innerText;
        window.location = "/rt_index" + personName;
    }
</script>
</body>
</html>