<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>校卖部</title>
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName %></p>
                <p><input type="button" value="发布商品" class="h-r-input" onclick="getOrder()"/>
                </p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="content-part1">
            <div class="c-part1-inner">
                <div class="c-part1-left">
                    <ul class="c-part1-list" id="c-part1-list">
                        <li>书籍</li>
                        <li>女装</li>
                        <li>男装</li>
                        <li>鞋</li>
                        <li>配饰礼物</li>
                        <li>学习用品</li>
                        <li>生活用品</li>
                        <li>运动娱乐</li>
                    </ul>
                </div>
                <div class="c-part1-right">
                    <span class="fr c-part1-right-span">...特别推荐</span><br/>
                    <img src="/images/paart1-1.jpg">
                    <img src="/images/paart1-7.jpg" class="fr">
                    <img src="/images/paart1-2.jpg">
                    <img src="/images/paart1-6.jpg" class="fr">
                    <img src="/images/paart1-5.jpg">
                    <img src="/images/paart1-4.jpg" class="fr">
                </div>
                <div class="c-part1-main-index">
                    <div id="slider">
                        <ul class="list">
                            <li class="current"><img src="/images/slider1.jpg"/></li>
                            <li><img src="/images/slider2.jpg"/></li>
                            <li><img src="/images/slider3.jpg"/></li>
                            <li><img src="/images/slider4.jpg"/></li>
                            <li><img src="/images/slider5.jpg"/></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-part2">
            <div class="c-part2-inner">
                <p class="part-title">新单速递<span>.&nbsp;.&nbsp;.</span></p>
                <div class="c-part2-new">
                    <ul class="c-part2-new-ul" id="c-part2-new-ul">
                        <% rows.forEach(function(row){%>
                         <li onclick="order_show('<%= row.id%>')">
                            <img src="/images/show1.png" class="c-part2-new-ul-img">
                            <div class="c-part2-new-ul-img-price fr">￥<%= row.price%></div>
                            <div class="c-part2-detail">
                                <p class="c-part2-detail-goodsName"><%= row.goodsName%></p>
                                <p class="c-part2-detail-describe">
                                    <%= row.describe%>
                                </p>
                            </div>
                         </li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/javascripts/public.js"></script>
<script src="/javascripts/index.js"></script>
</body>

</html>