<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <meta name="viewport" content="width=device-width">
    <title>订单查询页</title>
    <link rel="stylesheet" href="/stylesheets/order.css">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName %></p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="c-left">
            <ul class="c-l-ul">
                <li onclick="rt_index()">首&nbsp;页</li>
                <li onclick="order_index()">发布商品</li>
                <li>在线商品</li>
                <li>我的关注</li>
            </ul>
        </div>
        <div class="c-right">
            <h1 class="c-r-h1">在线商品信息表</h1>
            <table id="c-r-tb">
                <tr class="c-r-table">
                    <th class="c-r-td-addLength">商品名称</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>年级</th>
                    <th>出售人</th>
                    <th class="c-r-td-addLength">联系方式</th>
                    <th class="c-r-td-addLength">Email</th>
                    <th class="c-r-td-addLength">发布时间</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
                <% orders.forEach(function(order){%>
                <tr>
                    <td class="c-r-td-addLength"><%=order.goodsName%></td>
                    <td><%=order.num%></td>
                    <td><%=order.price%></td>
                    <td><%=order.grade%></td>
                    <td><%=order.personName%></td>
                    <td><%=order.tel%></td>
                    <td><%=order.email%></td>
                    <td class="c-r-td-addLength"><%=order.date.toJSON().slice(0,10)%></td>
                    <td class="edit" id="correct" onclick="order_correct('<%=order._id%>')">修改</td>
                    <td class="edit" id="delete" onclick="order_delete('<%=order._id%>')">删除</td>
                </tr>
                <% });%>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/order.js"></script>
<script>
    //隔行变色
    var tabbg=document.getElementById('c-r-tb');
    for(var i=0;i<=tabbg.rows.length;i++){
        if(tabbg.rows[i].rowIndex%2==0) {
            tabbg.rows[i].style.backgroundColor = "#e8edf1"
        }else{
            tabbg.rows[i].style.backgroundColor = ""
        }
    }
</script>
</body>
</html>