<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>校卖部</title>
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body onload="idx_ajx()">
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName %></p>
                <p><input type="button" value="发布商品" class="h-r-input" onclick="getOrder()"/>
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul" id="nav-inner-ul">
                <li onclick="rt_index()">首页</li>
                <li>书籍</li>
                <li>女装</li>
                <li>男装</li>
                <li>鞋</li>
                <li>配饰礼物</li>
                <li>学习用品</li>
                <li>生活用品</li>
                <li>运动娱乐</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="content-part2">
                <div class="c-part2-inner">
                    <div class="c-part2-new">
                        <ul class="c-part2-new-ul">
                            <% rows.forEach(function(row){%>
                            <li onclick="order_show('<%= row.id%>')">
                                <img src="/avatar/<%= row.imagePath%>" class="c-part2-new-ul-img">
                                <div class="c-part2-new-ul-img-price fr">￥<%= row.price%></div>
                                <div class="c-part2-detail">
                                    <p class="c-part2-detail-goodsName"><%= row.goodsName%></p>
                                    <p class="c-part2-detail-describe">
                                        <%= row.describe%>
                                    </p>
                                    <p class="c-part2-detail-more">
                                        <span><%= row.goodsCode%></span>&nbsp;
                                    </p>
                                </div>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/public.js"></script>
</body>
</html>